@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Montserrat:wght@300;400;500;600;700;800&family=Nunito:wght@400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;800&family=Roboto:wght@100;300;400;500;700;900&family=Tinos:wght@400;700&display=swap');

html{
    box-sizing: border-box;
    font-size: 16px;
}

body,
h1,
h2,
h3,
h4,h5,p,ol,ul{
    
    margin: 0;
    padding: 0;
    font-weight: normal;
    -webkit-font-smoothing: antialised;
}

ol,ul{
    list-style: none;
}

body{
    background: #121212;
    font-family: 'Nunito', sans-serif;
    color: #fff;
}

.container{
    width: 1200px;
    max-width: 90%;
    margin: 0 auto;
}